@font-face {
  src: url('./fonts/Aquatico/Aquatico-Regular.woff2');
  font-family: 'Aquatico';
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url('./fonts/NanumSquareRound/NanumSquareRoundOTFL.woff2');
  font-family: 'NanumSquareRound';
  font-weight: 300;
  font-display: swap;
}

@font-face {
  src: url('./fonts/NanumSquareRound/NanumSquareRoundOTFR.woff2');
  font-family: 'NanumSquareRound';
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url('./fonts/NanumSquareRound/NanumSquareRoundOTFB.woff2');
  font-family: 'NanumSquareRound';
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url('./fonts/NanumSquareRound/NanumSquareRoundOTFEB.woff2');
  font-family: 'NanumSquareRound';
  font-weight: 900;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumSquareRound';
  user-select: none;
  -webkit-user-drag: none;
}

pre {
  font-family: 'NanumSquareRound' !important;
  margin-bottom: 0 !important;
  overflow: visible !important;
}
